* {
	background-color: rgb(72,144,207);

}

div{
	display: inline-block;
	width: 33%;
	background-color: currentColor;
	float: left;
	color: white	
}

span {
	display: inline-block;
	color: white;
	text-align: left;
	width:100%;
	padding-bottom: .5em;
}

span:required {
	background-color: currentColor;
	color: white;
	width: 33%%;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
}

::webkit-input-placeholder {
	content: "";
	color: rgb(32,87,137);	
}

:-ms-input-placeholder {
 	color: rgb(32,87,137);
 }

 textarea:focus, input:focus {
    color: #ffffff;
}

<input class="textbox"type="text"> 
<br><br> 
<input class="textbox"type="text"> 
<br><br> 
<input class="textbox"type="text"> 
  
 
.textbox:focus { 
    outline: none; 
    border: 1px solid rgb(31,85,136); 
    
} 

input, select, textarea{
    color: #ffffff;
    width: 19em;
    border: .15em solid	white;

    }

#country {
	color: white;
}

select {
	font-family: sans-serif;
	color: white;
	border-radius: 0%;
	width: 12em;
	margin-top: 1em;
	margin-bottom: 1em;
}

#middle-top {
	position: top
}


